* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", "Arial", "Consolas", sans-serif;
  --padding-left-right: 2em;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: $bg-image;
  background-size: fill;
  height: 100vh;
  color: $dark-mode-color;

  .sub-topic {
    font-weight: bold;
  }

  #scroll-up {
    position: fixed;
    bottom: 2em;
    right: 1em;
    cursor: pointer;
    display: none;
  }
}

a {
  color: inherit;
}

.underline {
  position: relative;
  text-decoration: none;
  &:not(.current-page)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.2s ease-in-out;
    background-color: $dark-mode-color;
    height: 0.125em;
  }

  &:not(.current-page):hover::before,
  &:not(.current-page):active::before {
    width: 100%;
  }
}

img {
  width: 100%;
}

header {
  padding: 2em var(--padding-left-right);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #close {
      cursor: pointer;
      display: none;
    }

    #mode-toggle {
      cursor: pointer;
      display: $display;
    }
  }

  #nav-links {
    display: none;
    flex-flow: column;
    list-style: none;
    padding-top: 1em;
    width: 100%;

    li {
      padding: 0.5em 0;
      cursor: default;
      .current-page {
        font-weight: bold;
        color: #fe7f2d;
      }
    }
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em var(--padding-left-right) 0 var(--padding-left-right);
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em var(--padding-left-right);
    .avatar {
      width: 7.5rem;
      border-radius: 50%;
    }

    p {
      padding: 1em 0 0;
    }

    #main-info {
      font-size: 2em;
      font-weight: bold;
      #my-name {
        color: #fe7f2d;
      }

      #my-cs {
        color: #a1c181;
      }
    }

    #sub-topic {
      font-size: 0.75em;
      font-style: normal;
      letter-spacing: 7.5%;
      text-transform: uppercase;
      animation: intro-load 2s forwards;
    }
  }

  .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2em 0;
  }

  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 600ms;
  }
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    display: flex;
    justify-content: flex-start;
    padding: 1em var(--padding-left-right);
    font-size: 1.25em;
  }

  div {
    display: grid;
    padding: 2em calc(var(--padding-left-right) * 2);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    img {
      padding: 0.1em;
    }

    .normal {
      width: 2.5em;
    }

    .custom {
      width: 1.75em;
    }
  }

  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 600ms;
  }
}

#projects {
  display: flex;
  flex-direction: column;

  p {
    padding: 2em var(--padding-left-right);
    font-size: 1.25em;
  }

  .list-projects {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

    .project {
      display: grid;
      grid-template-rows: auto auto;
      width: $project-width-mobile;
      height: $project-height-mobile;
      background: $project-gradient;
      border-radius: 3.125em;
      border-radius: 0.9375em;
      margin: 0.2em;

      p {
        display: flex;
        align-items: flex-end;
        justify-self: center;
        font-size: 0.75em;
        padding: 0;
        grid-row: span 8;
      }

      .details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0.5em;
        a {
          width: 15px;
          height: 15px;
          img {
            width: 0.9375em;
            height: 0.9375em;
          }
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0;
          li {
            font-size: 0.5em;
            padding: 0 0.2em;
          }
        }
      }
    }
  }

  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 600ms;
  }
}

#about-me {
  .title {
    padding: 2em var(--padding-left-right);
    font-size: 1.25em;
  }

  .sub-title {
    padding: 1em var(--padding-left-right);
    font-size: 1em;
    font-weight: bold;
  }

  .details,
  .sub-detail {
    padding: 0 var(--padding-left-right);
    font-size: 0.875em;
  }

  .details {
    text-align: right;
  }

  .sub-detail {
    text-align: left;
  }

  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 600ms;
  }
}

#contact {
  padding: 0.5em var(--padding-left-right);

  .title {
    padding: 1em 0;
    font-size: 1.25em;
  }

  .socials div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;

    img {
      margin: 0.5em;

      width: 2em;
    }
  }

  .email {
    $height: 2.1875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div > input {
      margin-bottom: .5em;
    }

    .mail {
      height: $height;
      width: 100%;
      border: none;
      border-radius: 0.625em;
      padding: 0 1em;
      background: #383838;
      color: $dark-mode-color;
    }

    .empty-error {
      border: 2px solid red;
    }

    svg {
      height: $height;

      &:hover {
        cursor: pointer;
        transform: translateX(0.5em);
      }
    }
  }

  .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    textarea {
      display: block;
      padding: 1em;
      width: 100%;
      border: none;
      border-radius: 0.625em;
      background: #383838;
      color: $dark-mode-color;
    }
  }

  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 600ms;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 1em;
  p {
    font-size: 0.75em;
    span {
      color: #d33432;
    }
  }
}

@media only screen and (min-width: 550px) {
  #hero {
    padding: 0 var(--padding-left-right) 0 var(--padding-left-right);
    #info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      #close,
      #menu-button {
        display: none;
      }
    }

    #nav-links {
      display: flex;
      flex-direction: row;
      padding: 0;
      li {
        padding: 0 1em 0 0;
      }

      hr {
        display: none;
      }
    }
  }

  #projects {
    flex-direction: column;
    .list-projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #projects-first-column,
      #projects-second-column {
        display: flex;
        justify-content: center;
        align-items: center;

        .project {
          width: 120px;
          height: 80px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  :root {
    --padding-left-right: 6rem;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --padding-left-right: 10rem;
  }

  #hero {
    .info {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      .avatar {
        width: 9.375rem;
        height: 9.375rem;
      }
    }
  }

  #technologies {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em var(--padding-left-right) 1em var(--padding-left-right);
      img {
        padding: 0 0.2em;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  :root {
    --padding-left-right: 23rem;
  }
}
