:root {
  font-family: "Inter", "sans-serif";
  --light-mode-color: black;
  --dark-mode-color: white;
  --dark-mode-cs-color: #a1c181;
  --light-mode-cs-color: #6db33f;

}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  color: var(--dark-mode-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}




// .hero {
//   .info {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-start;

//     img {
//       width: 100px;
//       border-radius: 50%;
//     }

//     p {
//       color: var(--dark-mode-color);
//     }

//     #main-info {
//       font-size: 25px;
//       font-weight: bold;
//       margin-bottom: 2px;
//       padding: 5px 15px 5px 5px;
//       #my-name {
//         color: #fe7f2d;
//       }

//       #my-cs {
//         color: var(--light-mode-cs-color);
//       }
//     }

//     #sub-info {
//       color: rgb(136, 136, 136);
//       margin: 0;
//       letter-spacing: 10%;
//       font-size: 13px;
//       text-transform: uppercase;
//     }
//   }

//   .technologies {
//     display: flex;
//     flex-direction: column;
//     padding: 1em 3.5em;

//     div {
//       width: 300px;
//     }
//     p {
//       display: block;
//       color: var(--dark-mode-color);
//     }

//     img {
//       width: 50px;
//     }
//   }
// }
