* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", "Arial", "Consolas", sans-serif;
  --light-mode-color: black;
  --dark-mode-color: white;
  --dark-mode-cs-color: #a1c181;
  --light-mode-cs-color: #6db33f;
  --padding-mobile: 2rem;
  --project-width-mobile: 8.75em;
  --project-height-mobile: 4.6875em;
  --project-gradient: linear-gradient(
    to right,
    rgba(254, 127, 45, 1) 5%,
    rgba(95, 153, 136, 1) 100%
  );
  --bg-image: url("../assets/bg.svg");
}

body {
  background-image: var(--bg-image);
  background-size: fill;
  height: 100vh;
  color: var(--dark-mode-color);
  scroll-behavior: smooth;
}
body .left-alignment {
  font-weight: bold;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

header {
  display: flex;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  margin: var(--padding-mobile);
}

#nav-bar {
  display: none;
  position: fixed;
  padding: var(--padding-mobile);
  background-color: #0d0d0d;
  width: 100%;
  height: 100%;
}
#nav-bar ul {
  flex-direction: column;
  padding: 0;
  text-decoration: none;
  justify-content: center;
}
#nav-bar ul .active {
  font-weight: bold;
  color: #fe7f2d;
}
#nav-bar ul li {
  display: block;
  text-align: center;
  padding: 0;
}
#nav-bar ul li a {
  text-decoration: none;
}
#nav-bar ul li:hover {
  text-decoration: underline;
}
#nav-bar #close {
  width: 30px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em false;
}
#hero .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em var(--padding-mobile) 0.5em var(--padding-mobile);
}
#hero .info .avatar {
  width: 7.5rem;
  border-radius: 50%;
}
#hero .info p {
  padding: 1em 0 0;
}
#hero .info #main-info {
  font-size: 2em;
  font-weight: bold;
}
#hero .info #main-info #my-name {
  color: #fe7f2d;
}
#hero .info #main-info #my-cs {
  color: #a1c181;
}
#hero .info #sub-info {
  list-style: 1.5em;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 7.5%;
  text-transform: uppercase;
}
#hero .call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 4em 0;
}

#technologies {
  display: flex;
  flex-direction: column;
}
#technologies p {
  padding: 2em var(--padding-mobile);
  font-size: 20px;
}
#technologies div {
  display: grid;
  padding: 2em calc(var(--padding-mobile) * 1.5);
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-items: center;
}
#technologies div img {
  padding: 0.1em;
}
#technologies div .normal {
  width: 40px;
}
#technologies div .custom {
  width: 28px;
}

#projects {
  display: flex;
  flex-direction: column;
}
#projects p {
  padding: 2em var(--padding-mobile);
  font-size: 20px;
}
#projects .list-projects {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
#projects .list-projects .project {
  display: grid;
  grid-template-rows: auto auto;
  width: var(--project-width-mobile);
  height: var(--project-height-mobile);
  background: var(--project-gradient);
  border-radius: 50em;
  border-radius: 15px;
  margin: 0.2em;
}
#projects .list-projects .project p {
  display: flex;
  align-items: flex-end;
  justify-self: center;
  font-size: 12px;
  padding: 0;
  grid-row: span 8;
}
#projects .list-projects .project .details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em;
}
#projects .list-projects .project .details img {
  width: 15px;
  height: 15px;
}
#projects .list-projects .project .details ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
#projects .list-projects .project .details ul li {
  font-size: 8px;
  padding: 0px 0.2em;
}

#about-me .title {
  padding: 1em var(--padding-mobile);
  font-size: 20px;
}
#about-me .sub-title {
  padding: 1em var(--padding-mobile);
  font-size: 16px;
  font-weight: bold;
}
#about-me .details {
  padding: 0 var(--padding-mobile);
  text-align: right;
  font-size: 0.875em;
}
#about-me .sub-detail {
  font-size: 0.875em;
  font-style: light;
  margin-bottom: 0.78125em;
  text-align: left;
  padding: 0 var(--padding-mobile);
  font-weight: normal;
}

#contact {
  padding: 0.5em var(--padding-mobile);
}
#contact .title {
  padding: 1em 0;
  font-size: 20px;
}
#contact ul {
  padding: 1em var(--padding-mobile) 0 var(--padding-mobile);
}
#contact ul li {
  font-size: 0.8125em;
}
#contact .email {
  --height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0.5em 0;
}
#contact .email .mail {
  height: var(--height);
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0 1em;
  background: #383838;
}
#contact .email svg {
  height: var(--height);
}
#contact .message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact .message-container textarea {
  display: block;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #383838;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 1em;
}
footer p {
  font-size: 12px;
}
footer p span {
  color: #d33432;
}

@media only screen and (min-width: 500px) {
  #menu {
    display: none;
  }
  #nav-bar {
    display: flex;
    position: static;
    align-self: center;
    justify-content: space-between;
    background: transparent;
  }
  #nav-bar ul {
    display: flex;
    flex-direction: row;
  }
  #nav-bar ul li {
    padding: 0 1em;
  }
  #nav-bar #close {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  :root {
    --padding-mobile: 12rem;
  }
  #info {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=main.css.map */