* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", "Arial", "Consolas", sans-serif;
  --light-mode-color: black;
  --dark-mode-color: white;
  --dark-mode-cs-color: #a1c181;
  --light-mode-cs-color: #6db33f;
  --padding-left-right: 2em;
  --project-width-mobile: 8.75em;
  --project-height-mobile: 4.6875em;
  --project-gradient: linear-gradient(
    to right,
    rgba(254, 127, 45, 1) 5%,
    rgba(95, 153, 136, 1) 100%
  );
  --bg-image: url("../assets/bg.svg");
  --display: flex;
}

body {
  background-image: var(--bg-image);
  background-size: fill;
  height: 100vh;
  color: var(--dark-mode-color);
  scroll-behavior: smooth;
}
body .sub-topic {
  font-weight: bold;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

header {
  padding: 2em var(--padding-left-right);
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div #menu-button {
  display: var(--display);
}
header div #close {
  display: none;
}
header div #mode-toggle {
  display: var(--display);
}
header #nav-links {
  display: none;
  flex-flow: column;
  list-style: none;
  padding-top: 1em;
  width: 100%;
}
header #nav-links li {
  padding: 0.5em 0;
}
header #nav-links li .current-topic {
  font-weight: bold;
  color: #fe7f2d;
}
header #nav-links li:hover {
  text-decoration: underline;
}
header #nav-links a {
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em var(--padding-left-right) 0 var(--padding-left-right);
}
#hero .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2em var(--padding-left-right);
}
#hero .info .avatar {
  width: 7.5rem;
  border-radius: 50%;
}
#hero .info p {
  padding: 1em 0 0;
}
#hero .info #main-info {
  font-size: 2em;
  font-weight: bold;
}
#hero .info #main-info #my-name {
  color: #fe7f2d;
}
#hero .info #main-info #my-cs {
  color: #a1c181;
}
#hero .info #sub-info {
  list-style: 1.5em;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 7.5%;
  text-transform: uppercase;
}
#hero .call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2em 0;
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#technologies p {
  display: flex;
  justify-content: flex-start;
  padding: 1em var(--padding-left-right);
  font-size: 20px;
}
#technologies div {
  display: grid;
  padding: 2em calc(var(--padding-left-right) * 2);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#technologies div img {
  padding: 0.1em;
}
#technologies div .normal {
  width: 40px;
}
#technologies div .custom {
  width: 28px;
}

#projects {
  display: flex;
  flex-direction: column;
}
#projects p {
  padding: 2em var(--padding-left-right);
  font-size: 20px;
}
#projects .list-projects {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
#projects .list-projects .project {
  display: grid;
  grid-template-rows: auto auto;
  width: var(--project-width-mobile);
  height: var(--project-height-mobile);
  background: var(--project-gradient);
  border-radius: 50em;
  border-radius: 15px;
  margin: 0.2em;
}
#projects .list-projects .project p {
  display: flex;
  align-items: flex-end;
  justify-self: center;
  font-size: 12px;
  padding: 0;
  grid-row: span 8;
}
#projects .list-projects .project .details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em;
}
#projects .list-projects .project .details img {
  width: 15px;
  height: 15px;
}
#projects .list-projects .project .details ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
#projects .list-projects .project .details ul li {
  font-size: 8px;
  padding: 0px 0.2em;
}

#about-me .title {
  padding: 2em var(--padding-left-right);
  font-size: 20px;
}
#about-me .sub-title {
  padding: 1em var(--padding-left-right);
  font-size: 16px;
  font-weight: bold;
}
#about-me .details {
  padding: 0 var(--padding-left-right);
  text-align: right;
  font-size: 0.875em;
}
#about-me .sub-detail {
  font-size: 0.875em;
  font-style: light;
  margin-bottom: 0.78125em;
  text-align: left;
  padding: 0 var(--padding-left-right);
  font-weight: normal;
}

#contact {
  padding: 0.5em var(--padding-left-right);
}
#contact .title {
  padding: 1em 0;
  font-size: 1.25em;
}
#contact ul {
  padding: 1em 2em;
}
#contact ul li {
  font-size: 0.8125em;
}
#contact .email {
  --height: 2.1875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0.5em 0;
}
#contact .email .mail {
  height: var(--height);
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0 1em;
  background: #383838;
  color: var(--dark-mode-color);
}
#contact .email svg {
  height: var(--height);
}
#contact .message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact .message-container textarea {
  display: block;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #383838;
  color: var(--dark-mode-color);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 1em;
}
footer p {
  font-size: 12px;
}
footer p span {
  color: #d33432;
}

@media only screen and (min-width: 550px) {
  #hero {
    padding: 0 var(--padding-left-right) 0 var(--padding-left-right);
  }
  #hero #info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2em var(--padding-left-right);
  }
  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header div #menu-button, header div #close {
    display: none;
  }
  header #nav-links {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  header #nav-links li {
    padding: 0px 1em 0 0;
  }
}
@media only screen and (min-width: 750px) {
  :root {
    --padding-left-right: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  :root {
    --padding-left-right: 10rem;
  }
  #hero .info {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  #hero .info .avatar {
    width: 9.375rem;
    height: 9.375rem;
  }
  #technologies div {
    display: flex;
    padding: 0.5em var(--padding-left-right) 1em var(--padding-left-right);
  }
  #technologies div img {
    padding: 0 0.2em;
  }
  #projects {
    flex-direction: column;
  }
  #projects .list-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projects .list-projects #projects-first-column, #projects .list-projects #projects-second-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projects .list-projects #projects-first-column .project, #projects .list-projects #projects-second-column .project {
    width: 120px;
    height: 80px;
  }
}
@media only screen and (min-width: 1300px) {
  :root {
    --padding-left-right: 23rem;
  }
}/*# sourceMappingURL=main.css.map */