@charset "UTF-8";

// Settings
// ==================================================
// base
$light-mode-color: black !default;
$dark-mode-color: #f1f0ee !default;
$dark-mode-cs-color: #a1c181 !default;
$light-mode-cs-color: #6db33f !default;
$project-width-mobile: 8.75em !default;
$project-height-mobile: 4.6875em !default;
$project-gradient: linear-gradient(
  to right,
  rgba(254, 127, 45, 1) 5%,
  rgba(95, 153, 136, 1) 100%
) !default;
$bg-image: url("../assets/bg.svg") !default;
$display: flex !default;

// Animation
// ===================================
$positive-amount: 12% !default;
$negative-amount: -12% !default;

$transition-amount: 1s !default;

$translate-y-positive: $positive-amount !default;
$translate-y-negative: $negative-amount !default;
$translate-x-positive: $positive-amount !default;
$translate-x-negative: $negative-amount !default;

$x-position: -5% !default;
$y-position: -5% !default;
// ===================================
// End of Animation
// ==================================================
// End of Settings


@import "base";
@import "animations";

